p{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.no-decoration{
    text-decoration: none;
}