/*Global reset*/
*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}
/*Ajustes*/
.center-text{
    text-align: center;
}

.font-color{
    color: white;
}

body{
    background: #2c2931;
}


/*Navegação*/
.navegacao{
    background:#352F44;
    padding: 30px;
    margin: 10px auto;
    width: 80%;
    border-radius: 80px;
}

.navegacao a{
    text-decoration: none;
    font-size: 1.1em;
    background:#5C5470;
    color: #FAF0E6;
    border-radius: 5px;
    padding: 20px;
    margin-right: 15px;
}

.navegacao a:hover{
    background:#B9B4C7;
}

.navegacao a:active{
    background: #5C5470 ;
}
/*Biografia escrita*/

.container-pai-historia{
    background: #5C5470;
    margin: 30px auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.container{
    background: #352F44;
    margin: 30px auto;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.container h3{
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 4px 2px 9px rgba(0, 0, 0, 0.5);
}

.container p{
    margin-bottom: 10px;
}

